header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  padding-bottom: 0;

  .logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    .logout {
      padding-right: 15px;
    }
  }
}
