.hotels {
  width: 46vw;
  height: 120vh;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 28px 0;
  }
  &__naming {
    display: flex;
  }

  &__name {
    font-weight: 500;
    font-size: 32px;
  }

  &__img {
    margin: 0 20px;
  }

  &__date {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  &__content {
    margin-top: 35px;
    // padding-bottom: 2em;
    &__favorite {
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
    }
    .cards {
      height: 70vh;
    }
  }
}
.cards {
  margin-top: 30px;
  height: 50vh;
  overflow: auto;
}
.cards::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #E7E7E7; /* or add it to the track */
}
.cards::-webkit-scrollbar-thumb {
    background-color: #41522E;;    /* цвет бегунка */
    border-radius: 2px;       /* округлось бегунка */
  }
